.tabs-container {
  .nav-tabs {
    margin-bottom: $form-group-margin-bottom;
  }
  .tab-content {
    max-height: 30em;
    padding: $form-group-margin-bottom;
    padding-left: 0;
    overflow-y: auto;
  }

  margin-bottom: $form-group-margin-bottom;
  border-bottom: 1px solid $nav-tabs-border-color;
  padding-bottom: $form-group-margin-bottom;
}
