<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary">
  <ul class="list-group">
    <li class="list-group-item secondary-nav-item-pf" data-target="#ipsum-secondary">
      <a href="#0">
        <span class="fa fa-space-shuttle" data-toggle="tooltip" title="" data-original-title="Ipsum"></span>
        <span class="list-group-item-value">Events</span>
      </a>

      <div id="-secondary" class="nav-pf-secondary-nav">
        <div class="nav-item-pf-header">
          <a href="#0" class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
          <span>Events</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item" data-target="#ipsum-intellegam-tertiary">
            <%= link_to new_event_path do %>
              <span class="list-group-item-value">Add Event</span>
            <% end %>
            </a>
        </ul>
      </div>
  </ul>
</div>
